<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<div th:include="ShareLink.html"></div>

	<title>Footer</title>
</head>

<body>

	<div class="row foottercolor" id="contact">
		<div class="col-md-10 offset-md-1 mb-4 mt-4">
			<div class="row">
				<div class="col-md-4">
					<article>PBS Technology</article>
					<span>Kathmandu, Nepal</span><br>
					<span>Bagmati-3</span><br><br>
					<span><b>Postal-code:</b> 44600</span><br>
					<span><b>Gmail:</b> pbs@gmail.com</span><br>


				</div>
				<div class="col-md-4">
					<article>PBS Links</article>
					<span>Home</span><br>
					<span>Services</span><br>
					<span>About-us</span><br>
					<span>Contact-us</span><br>
					<span>Privacy Policy</span><br>

				</div>
				<div class="col-md-4">
					<article>Contact Us</article>
					<div class="row">
						<div class="col-md-6">
							<span>Facebook</span><br>
							<span>Twiter</span><br>
							<span>WhatApp</span><br>

						</div>
						<div class="col-md-6">
							<span>Viver</span><br>
							<span>LinkedIN</span><br>
							<span>Github</span><br>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row foooottercolr">
		<div class="col-md-10 offset-md-1">
			<div class="row">
				<div class="col-md-12 text-center mt-3">
					<p>&#169; Copyright <b>PBS Technology.</b> All Right Reserve</p>
				</div>
			</div>
		</div>
	</div>

</body>

</html>