<!DOCTYPE html>
<html xmlns:th="http://www:thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title th:text="${title}"></title>

	<div th:include="ShareLink.html"></div>

	<style>
		body {
			background-image: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
		}

		#messageHIDE {
			display: none;
		}


		.mb0 {
			margin-bottom: 320px;
		}

		.error {
			color: red;
			display: none;
			font-size: large;
		}
	</style>


</head>

<body>
	<div class="container-fluid mtlog">
		<div class="row mb0">
			<div class="col-md-4 offset-md-4">

				<div class="card">
					<div class="card-header lhead">
						<h3 class="mb-0 text-center">Forget Password!</h3>
					</div>
					<div class="card-body">
						<form novalidate th:action="@{/pbt/check_email_mobile}"  method="post">
							<label>Email <span class="asterik">*</span> </label><br>
							<div class="form-group input-group mb-0">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-envelope"></i>
									</span>
								</div>
								<input type="email" id="email" name="email" class="form-control"
									placeholder="Email">

							</div>


							<label for="password" class="mt-2">Phone Number<span class="asterik">*</span> </label><br>
							<div class="form-group input-group mb-0">
								<div class="input-group-prepend">
									<span class="input-group-text"> <i class="fa fa-phone"></i>
									</span>
								</div>
								<input id="mobile" type="text" name="mobile" class="form-control" maxlength="10"
									placeholder="Mobile " />
							</div>



							<div class="row mt-4">
								<div class="col-md-12 text-center">
									<button type="submit" class="btn btn-primary btnlogin">Submit</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>




</body>

</html>