<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>PagenotFound</title>

	<div th:include="ShareLink.html"></div>
	<link rel="stylesheet" th:href="@{/css/style.css}" />

	<style>
		* {
			background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
			color: white;

		}

		.op {
			font-size: 150px;
		}
		button{
			color: white;
		}
	</style>
</head>

<body>

	<div class="container-fluid text-center mt">
		<br><br>
		<h1 class="op">OOPs</h1>
		<h2>404 - PAGE NOT FOUND</h2>
		<hr>
		<button class="btn btn-primary hbtn"> <a href="/" >Go to HOMEPAGE</a> </button>
	</div>

</body>

</html>