<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title th:text="${title}"></title>

	<style>
		#messageHIDE {
			display: none;
		}
	</style>

</head>

<body>

	<div class="container-fluid mtlog">
		<div class="row">
			<div class="col-md-7 offset-md-3">
				<div class="card">
					<div class="card-header">
						<div id="messageHIDE" th:if="${session.mesg}" th:classappend="${session.mesg.typeofMessage}" class="alert mb-2"
							role="alert">
							<p  th:text="${session.mesg.message}"></p>

						</div>

						<h3 class="mb-0">Signup here !</h3>
					</div>
					<div class="card-body">
						<form novalidate action="#" th:action="@{/pbt/signup_user}" method="post" th:object="${user}">

							<div class="row">
								<div class="col-md-6">
									<div class=" row">
										<div class="col-md-3">
											<label for="firstName">FirstName<span class="asterik">*</span></label>
										</div>
										<div class="col-md-9">
											<div class="form-group input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> <i class="fa fa-user"></i>
													</span>
												</div>
												<input type="text" name="fName" class="form-control is-invalid"
													th:classappend="${#fields.hasErrors('fName')?'is-invalid':''}"
													placeholder="FirstName" />
											</div>
										</div>
										<div th:each="e : @{#fields.errors('fName')}" th:text="${e}"
											class="invalid-feedback">
										</div>
									</div>


									<div class="row">
										<div class="col-md-3">
											<label for="LastName">MiddleName</label>
										</div>
										<div class="col-md-9">
											<div class="form-group input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> <i class="fa fa-user"></i>
													</span>
												</div>
												<input type="text" name="mName" class="form-control"
													placeholder="MiddleName " required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<label for="LastName">LastName<span class="asterik">*</span></label>
										</div>
										<div class="col-md-9">
											<div class="form-group input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> <i class="fa fa-user"></i>
													</span>
												</div>
												<input type="text" name="lName" class="form-control"
													th:classappend="@{#fields.hasErrors('lName') ? 'is-invalid':''}"
													placeholder="LastName " required>
											</div>
										</div>
										<div class="invalid-feedback" th:each="e : @{#fields.errors('lName')}"
											th:text="${e}">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-3">
											<label for="email">Email<span class="asterik">*</span></label>
										</div>
										<div class="col-md-9">
											<div class="form-group input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> <i class="fa fa-envelope"></i>
													</span>
												</div>
												<input type="email" name="Email" class="form-control"
													th:classappend="@{#fields.hasErrors('Email') ? 'is-invalid':''}"
													placeholder="Email " required>
											</div>

										</div>
										<div class="invalid-feedback" th:each="e : @{#fields.errors('Email')}"
											th:text="${e}">

										</div>
									</div>
									<div>

									</div>
									<div class="row mt-2">
										<div class="col-md-12">
											<div class="form-check">
												<input type="checkbox" class="form-check-input" name="agreement"
													id="agreement">
												<label class="form-check-label" for="Agrement">Terms and Conditions
												</label>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">

									<div class="form-group row">
										<div class="col-md-3">
											<label for="mobile">Mobile <span class="asterik">*</span></label>
										</div>
										<div class="col-md-9">
											<div class="form-group input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> <i class="fa fa-phone"></i>
													</span>
												</div>
												<input type="text" name="Mobile" class="form-control"
													th:classappend="@{#fields.hasErrors('Mobile') ? 'is-invalid':''}"
													maxlength="10" placeholder="Mobile " required>
											</div>
										</div>
										<div class="invalid-feedback" th:each="e : @{#fields.errors('Mobile')}"
											th:text="${e}">

										</div>
									</div>

									<div class="row">
										<div class="col-md-3">
											<label for="password">Password<span class="asterik">*</span></label>
										</div>
										<div class="col-md-9">
											<div class="form-group input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> <i class="fas fa-unlock"></i>
													</span>
												</div>
												<input type="password" name="Password" maxlength="12"
													th:classappend="@{#fields.hasErrors('Password') ? 'is-invalid':''}"
													class="form-control is-invalid" placeholder="Password " required>
											</div>
										</div>
										<div class="invalid-feedback" th:each="e : @{#fields.errors('Password')}"
											th:text="${e}">

										</div>

									</div>

									<div class="row">
										<div class="col-md-3">
											<label for="birth">DateofBirth</label>
										</div>
										<div class="col-md-9">
											<div class="form-group input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> <i
															class="fas fa-hourglass-start"></i>
													</span>
												</div>
												<input type="date" name="Dob" class="form-control"
													placeholder="Data of Birth " required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<label for="gender">Gender </label>
										</div>
										<div class="col-md-9">
											<input type="radio" name="Gender" value="Male"> Male <input type="radio"
												name="Gender" value="Female" class="ml-4">
											Female
										</div>

									</div>


									<div class="row mt-3">
										<div class="col-md-3">
											<label>ProfileImage</label>
										</div>
										<div class="col-md-9">
											<input type="file" name="Profile">
										</div>

									</div>

								</div>
							</div>
							<hr>
							<div class="container-fluid text-center mt-4">
								<button type="submit" class="btn btn-primary"><a style="color: white;">Submit</a>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="ShareLink.html"></div>
	
<script th:inline="javascript">
    var duration = 5000; // 5 seconds
    

    var messageElement = document.getElementById('messageHIDE');
    messageElement.style.display = 'block';
    
    setTimeout(function() {
        messageElement.style.display = 'none';
    }, duration);
</script>

	
</body>

</html>