<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<div th:include="ShareLink.html"></div>

	<script th:src="@{/js/script.js}"></script>

	<title th:text="${title}"></title>
	<style>
		body {
			background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
			color: black;

		}

		.card {
			background-image: linear-gradient(to left, #ffff, #9999, #cedc);
			border-right: 15px solid #0f2027;
		}

		@media (max-width: 760px) {
			.card {
				border-right: 1px solid #2c5364;
			}
		}
	</style>
</head>

<body>
	<div class="container mt">
		<div class="card">
			<div class="card-header">
				<article>PBT Official Package </article>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-7">
						<article>About This Package</article>
						<ol class="p-3">
							<li>It's a Official package</li>
							<li>It has Valid Date and time </li>
							<li>Vehicles parking cost will be determined number of MIN and MAX</li>
							<li>Parking will be opened 24 hours </li>
						</ol>
						<hr>
						<article>Prerequisites of PBT</article>
						<ol class="p-3">
							<li>Vehicles should be identified from the Office stamp, if out of people use need token</li>
							<li>Payment should be in the time after complete month</li>
							<li>Could't accept any installment for payment</li>
							<li>Vehicles keys should leave in the parking reception</li>
							<li>Can't Accept Illegle vehicles</li>
						</ol>
					</div>
					<div class="col-md-5">
						<div class="container-fluid text-center">
							<article>Parking Booking Ticketing</article>
							<p>It's a official package which provides more reliable services</p>
							<br><br><br>
							<button class="btn  btn-outline-primary"><a href="/pbt/login">Official</a></button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<p>Return privious pages </p>
			</div>
		</div>
	</div>
</body>

</html>