* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.navbarheader {
	width: 100%;
	background-color: #0f2027;
	overflow: hidden;
	position: fixed;
	z-index: -1;

}

.main {
	width: 100%;
	position: absolute;
	z-index: -3;
	margin-top: 56px;

}

.foot {
	width: 100%;
	margin-top: 1280px !important;
	position: absolute;
}


.ml {
	margin-left: 720px;
}

.lhead {
	background-color: #0f2027;
	color: white;
}

.cbackgroundcolor {
	background-image: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);

}

.sbackgroundcolor {
	background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	color: white;
}

.abackgroundcolor {
	background-image: linear-gradient(to left, #0f2027, #203a43, #2c5364);
	color: white;
}

.conbackgroundcolor {
	background-image: linear-gradient(to top, #0f2027, #203a43, #2c5364);
	color: white;

}

.foottercolor {
	background-color: #0f2027;
	color: white;
}

.foooottercolr {
	background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	color: white;
}


.asterik {
	color: red;
}

.mtlog {
	margin-top: 70px;
}

.mt {
	margin-top: 100px;

}

.mb {
	margin-bottom: 30px;
}

.hbtn {
	padding: 15px;
	border-radius: 20px;
	color: antiquewhite;

}

strong {
	font-size: 24px;
	font-weight: bolder;
}

figcaption {
	font-size: 22px;
	font-weight: bold;
}



article {
	font-size: 18px;
	font-weight: bolder;
}

span {
	font-size: 13px;
}

@media (max-width: 860px) {
	.main {
		height: 1550px;
		overflow: hidden;
		overflow: auto;
	}

	.card {
		margin-bottom: 35px;
	}

	.con {
		text-align: center;
	}

	.foot {
		width: 100%;
		text-align: center;
		margin-top: 1550px !important;
	}

}


.tophead {
	width: 100%;
	background-image: linear-gradient(to top, #0f2027, #203a43, #2c5364);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 3;
	position: fixed;

}

.brandlogo {
	color: #fff;
	font-size: 2.1rem;
	padding-left: 20px;

}

.menulines {
	font-size: 30px;
	cursor: pointer;
	margin-right: 20px;
	color: white;

}

.mainpart {
	margin-top: 80px;
	position: absolute;
	width: 100%;
	z-index: 2;

}

.sidenav {
	height: 100%;
	width: 13%;
	position: fixed;
	overflow: hidden;
	padding-top: 35px;
	top: 50px;
	left: 0;
	z-index: 3;
	background-image: linear-gradient(to top, #0f2027, #203a43, #2c5364);
	transition: all 0.5s;

}

.sidenav a {
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	display: block;
	padding: 10px 0 10px 25px;
}

.sidenav a i {
	padding-right: 8px;
}

.sidenav a:hover {
	color: rgba(255, 255, 255, 0.7);
}

.closeBtn {
	position: absolute;
	top: 20px;
	right: 10px;
	font-size: 45px !important;
}

@media (max-width: 768px) {
	.brandlogo {
		font-size: 1.8rem;
	}

	.sidenav {
		height: 100%;
		width: 0px;
		z-index: 3;

	}

}