.navbarheader {
	width: 100%;
	background-color: #0f2027;
	overflow: hidden;
	position: fixed;
	z-index: -1;

}

.main {
	width: 100%;
	position: absolute;
	z-index: -3;
	margin-top: 56px;

}

.foot {
	width: 100%;
	margin-top: 1300px;
	position: absolute;
}


.ml {
	margin-left: 720px;
}

.lhead {
	background-color: #0f2027;
	color: white;
}

.cbackgroundcolor {
	background-image: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);

}

.sbackgroundcolor {
	background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	color: white;
}

.abackgroundcolor {
	background-image: linear-gradient(to left, #0f2027, #203a43, #2c5364);
	color: white;
}

.conbackgroundcolor {
	background-image: linear-gradient(to top, #0f2027, #203a43, #2c5364);
	color: white;

}

.foottercolor {
	background-color: #0f2027;
	color: white;
}

.foooottercolr {
	background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	color: white;
}


.asterik {
	color: red;
}

.mtlog {
	margin-top: 70px;
}

.mt {
	margin-top: 30px;

}

.mb {
	margin-bottom: 30px;
}

.hbtn {
	padding: 15px;
	border-radius: 20px;
	color: antiquewhite;

}

strong {
	font-size: 24px;
	font-weight: bolder;
}

figcaption {
	font-size: 22px;
	font-weight: bold;
}



article {
	font-size: 18px;
}

span {
	font-size: 13px;
}


@media only screen and (max-width: 860px) {
	.ml {
		margin-left: 0px;

	}

	.card {
		margin-bottom: 35px;
	}

	.con {
		text-align: center;
	}

	.foot {
		width: 100%;
		text-align: center;
		margin-top: 1780px;
	}

}