<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<title th:text="${title}"></title>

	<div th:include="ShareLink.html"></div>


	<script th:src="@{/js/script.js}"></script>


	<style>
		#messageHIDE {
			display: none;
		}
	</style>



</head>

<body>
	<!-- services list   -->
	<div class="container mt-4">
		<div id="messageHIDE" th:if="${session.mes}" th:classappend="${session.mes.typeofMessage}" class="alert mb-2"
			role="alert">
			<p th:text="${session.mes.message}"></p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4 class="mb-0">Add Province of Nepal</h4>
			</div>
			<div class="col-md-4">
				<h4><a href="/pbt/listofstate">List of Province</a></h4>
			</div>
			<div class="col-md-4 text-right">
				<h4 class="mb-0"><a href="/pbt/systemdashboard">Dashboard</a> </h4>
			</div>
		</div>
		<hr>
		<div class="card">
			<div class="card-body">
				<form action="/pbt/saveState" method="post">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-3">
									<label for="State">Country</label>
								</div>
								<div class="col-md-9">
									<div class="form-group input-group mb-0">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="fa fa-flag"></i>
											</span>
										</div>
										<select type="text" name="country" id="country" class="form-control">
											<option value="">Select type of Country
											</option>
											<option value="Nepal">Nepal</option>
											</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-3">
									<label for="Vehiclenumber">State</label>
								</div>
								<div class="col-md-9">
									<div class="form-group input-group mb-0">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="fa fa-map"></i>
											</span>
										</div>
										<select name="state" id="state" class="form-control">
											<option value="" hidden>Select State
											</option>
											<option value="Koshi Pradesh">Koshi Pradesh</option>
											<option value="Madesh Pradesh">Madesh Pradesh</option>
											<option value="Bagmati Pradesh">Bagmati Pradesh</option>
											<option value="Gandaki Pradesh">Gandki Pradesh</option>
											<option value="Lumbini Pradesh">Lumbini
												Pradesh</option>
											<option value="Karnali Pradesh">Karnali
												Pradesh</option>
											<option value="Sudurpashchim Pradesh">
												Sudurpashchim Pradesh
											</option>
										</select>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid text-center mt-4">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>

		var duration = 2000; // 2 seconds
		var messageElement = document.getElementById('messageHIDE');
		messageElement.style.display = 'block';

		setTimeout(function () {
			messageElement.style.display = 'none';
		}, duration);


	</script>
</body>

</html>