<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<title th:text="${title}"></title>

	<div th:include="ShareLink.html"></div>


	<script th:src="@{/js/script.js}"></script>



</head>

<body>
	<!-- services list   -->
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-6">
				<h3 class="mb-0">List of provinces of Nepal</h3>
			</div>
			<div class="col-md-6 text-right">
				<h3 class="mb-0"><a href="/pbt/systemdashboard">Dashboard</a> </h3>
			</div>
		</div>
		<div class="card mt-2">
			<div class="card-body">
				<table style="width: 100%;">
					<thead>
						<tr>
							<th>S.N</th>
							<th>Add District of Province <a href="/pbt/settings"><i class="fa fa-plus"></i>Add Province</a></th>
							<th>Country</th>
							<th style="width: 6%;">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="list: ${statelist}">
							<td th:text="${list.stateID}"></td>
							<td><a th:text="${list.state}" th:href="@{'/pbt/districtofprovince/' + ${list.stateID}}"></a></td>
							<td th:text="${list.country}"></td>
							<td>
								<a><i class="fa fa-edit"></i></a>
								<a href="/pbt/settings"><i class="fa fa-plus"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


</body>

</html>>