<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<title th:text="${title}"></title>

	<div th:include="ShareLink.html"></div>


	<script th:src="@{/js/script.js}"></script>


	<style>
		#messageHIDE {
			display: none;
		}
	</style>



</head>

<body>
	<!-- services list   -->
	<div class="container mt-4">
		<div id="messageHIDE" th:if="${session.del}" th:classappend="${session.del.typeofMessage}"
				class="alert mb-2" role="alert">
				<p th:text="${session.del.message}"></p>
			</div>
		<div class="row">
			<div class="col-md-6">
				<h3 class="mb-0">Customer list</h3>
			</div>
			<div class="col-md-6 text-right">
				<h3 class="mb-0"><a href="/pbt/systemdashboard">Dashboard</a> </h3>
			</div>
		</div>

		<div class="card mt-2">
			<div class="card-body">

				<table style="width: 100%;">
					<thead>
						<tr>
							<td style="text-align: center;">S.N</td>
							<td>Full Name</td>
							<td>Email</td>
							<td>Mobile</td>
							<td>Gender</td>
							<td>Role</td>
							<td colspan="3" style="width: 8%; text-align: center;">Action</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user: ${userlist}">
							<td style="text-align: center;" th:text="${user.userID}"></td>
							<td th:text="${user.fname +' '+user.lname}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.mobile}"></td>
							<td th:text="${user.gender}"></td>
							<td th:text="${user.userrolename}"></td>
							<td style="text-align: center;"><a th:href="@{'/pbt/edituser/' + ${user.userID}}"><i class="fa fa-edit"></i></a></td>
							<td style="text-align: center;"><a th:href="@{'/pbt/delete/' + ${user.userID}}"><i
										class="fa fa-trash"></i></a></td>
							<td style="text-align: center;"><a th:href="@{'/pbt/payments/' + ${user.userID}}"><i
										class="fa fa-eye"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>
	
	<script>
	
		var duration = 2000; // 2 seconds
			var messageElement = document.getElementById('messageHIDE');
			messageElement.style.display = 'block';

			setTimeout(function () {
				messageElement.style.display = 'none';
			}, duration);


		</script>

</body>

</html>